.footer{
    background: url("../../img/backgrounds/footer-bg.jpg") center (center / cover) no-repeat;
    height: 300px;
    padding-top: 50px;
    position: relative;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation{
            display: flex;
            column-gap: 70px;
            &-link{
                color: #fff;
                text-decoration: none;
                padding: 10px 0;
                border-bottom: 3px solid #ff8d2300;
                font-size: 17px;
                transition: 0.4s all;
                &:hover{
                    border-bottom: 3px solid $main-color;
                    color: $main-color;
                }
            }
        }
        &__logo{
            display: flex;
            align-items: center;
            column-gap: 15px;
            height: 55px;
            img{
                width: 55px;
            }
            .text{
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                }
                p{
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
    &-attribute{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .line{
            width: 100%;
            background-color: #fff;
            height: 1px;
        }
        p{
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 0;
            text-align: center;
            span{
                color: $main-color;
                font-weight: 700;
            }
        }
    }
}